<robot name="sandtray">
  <link name="sandtray">
    <visual>
        <geometry>
            <mesh filename="package://freeplay_sandbox/meshes/sandtray.dae"/>
        </geometry>

    </visual>
  </link>
  <link name="$(arg camera1)_link" />

  <joint name="$(arg camera1)_joint" type="fixed">
    <parent link="sandtray"/>
    <child link="$(arg camera1)_link"/>
    <origin xyz="0.3 0.065 0.033" rpy="0. -0.34 -1.5708" />
  </joint>
</robot>
