<launch>
    <!-- load sandtray URDF + cameras frames -->
    <include file="$(find freeplay_sparc)/launch/sandtray.launch" />

    <!-- build an occupancy map based on the positions of the objects within the
         sandbox, and provide a path planning service to move around said objects -->
    <node pkg="freeplay_sparc" type="sandbox_map_and_plan" name="map_and_plan" required="true" />
    <!-- creates an action server to move sandbox objects to specific positions, 
         using the path planner -->
    <node pkg="freeplay_sparc" type="move_sandbox_items" name="move_sandbox_items" required="true" output="screen" />
   <!-- interpret continuous action: send sentences to nao_behaviour and communicate with move_sandbox_items to create motions-->
    <node pkg="freeplay_sparc" type="woz_play" name="woz_play" required="true" output="screen"/>
    <!-- sublish static transforms for nao's position-->
    <include file="$(find freeplay_sparc)/launch/robot_static_localisation.launch"/>
</launch>
