
<launch>
    <arg name="duration"             default="1m" />
    <arg name="output_file"          default="foodchain" />

    <arg name="topics" default="/tf
        /nao/blocking_speech
        /nao/events
        /sandtray/interaction_events
        /sandtray/background/image
        /sparc/state
        /sparc/life
        /sparc/event
        /sparc/selected_action
        /sparc/rewarded_action_dis
        /sparc/proposed_action
        /sparc/proposed_action_dis
        " 
        />

     <node pkg="rosbag" type="record" name="rosbag_record_freeplay_sandbox"
         args="--output-name $(arg output_file) $(arg topics) --duration=$(arg duration)"
         output="screen" required="true" />

</launch>
