<launch>
    <arg name="duration"             default="40m" />
    <arg name="output_folder"          default="/home/hri/Documents/placement-data/test/" />
    <arg name="output_name"          default="test" />

    <arg name="topics1" default=
        "/tf
        /sandtray/interaction_events
        " 
        />
    <arg name="topics2" default=
        "/camera_env/rgb/image_raw/compressed
        /camera_env/audio
        /camera_env/camera_info
        "
    />
    <node pkg="rosbag" type="record" name="rosbag_record_freeplay_sandbox"
         args="$(eval '--output-name '+arg('output_folder')+arg('output_name')+' '+ arg('topics1')+' --duration='+arg('duration'))"
         output="screen" required="true" />
     <node pkg="rosbag" type="record" name="rosbag_record_freeplay_sandbox_video"
         args="$(eval '--output-name '+arg('output_folder')+'video'+' '+ arg('topics2')+' --duration='+arg('duration'))"
output="screen" required="true" />


</launch>
