<launch>
    <arg name="with_marker_localisation"          default="false" doc="Enable monitoring for fiducial marker to localise the robot" />
    <arg name="nao_ip"              default="$(optenv NAO_IP 127.0.0.1)" doc="Nao's IP" />

    <node pkg="freeplay_sparc" type="nao_behaviours" name="nao_behaviours" output="screen">
        <param name="nao_ip"            value="$(arg nao_ip)" />
    </node>

    <group if="$(arg with_marker_localisation)">
        <arg name="nao_port"              default="$(optenv NAO_PORT 9559)" doc="If using a robot, Nao's port" />
        <arg name="roscore_ip"          default="127.0.0.1" />
        <arg name="network_interface"   default="wlp2s0" doc="Network interface used to communicate with the robot" />
        <!-- naoqi driver -->
        <include file="$(find naoqi_driver)/launch/naoqi_driver.launch" >
            <arg name="nao_ip"            value="$(arg nao_ip)" />
            <arg name="nao_port"          value="$(arg nao_port)" />
            <arg name="network_interface" value="$(arg network_interface)" />
        </include>
        <arg name="image" default="/naoqi_driver_node/camera/front/image_raw" />

        <node pkg="freeplay_sparc" type="sandtray_localisation" name="sandtray_localisation" output="screen">
            <remap from="/image" to="$(arg image)" />
        </node>
    </group>
</launch>
