<launch>
    <node pkg="freeplay_sparc" type="woz_play" name="woz_play" output="screen">
    </node>
    <node pkg="freeplay_sparc" type="action_analyser" name="action_analyser" output="screen">
    </node>
    <node pkg="freeplay_sparc" type="actor" name="actor" output="screen">
    </node>

</launch>
